#activities
{
}
.jsfiddle {
  border-top:1px solid red;
}

.github {
  border-top:1px solid  blue;
}

.wp-json {
  border-top:1px solid green;
}



li.list-item
{
  clear:both;
}
li.list-item img  {
  margin:5px;
  max-width:80px;
  float:left;
}
li.list-item .titlebar {
}
li.list-item .titlebar h3 {
}
li.list-item .contentbar {
  float:left;
}
