*
{
  padding:0px;
  margin:0px;
}

html, body
{
   height:100%;
}

#pagecontainer
{
    position:relative;
    min-height:100%;
    width:100%;
}

#contentcontainer
{
    position:relative;
    min-width:240px;
    width:50%;
    float:left;
}
#activities
{
    position:relative;
    height:480px;
    max-width:480px;
    min-width:240px;
    width:50%;
    float:right;
    overflow-y:scroll;
}
@media only screen and (max-width: 600px) {

#contentcontainer
{
    position:relative;
    min-width:240px;
    width:100%;
    float:none;
}
#activities
{
    position:relative;
    height:320px;
    min-width:240px;
    width:100%;
    float:none;
    overflow-y:scroll;
}

}


#bottomcontainer
{
    position:relative;
    width:100%;
    clear:both;
}
